.full-bar {
  background-color: #fff;
  border-bottom: 1px solid #444;
  z-index: 300;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#full-bar {
  z-index: 1111;
}

.bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-logo .logo {
  width: 50px;
  height: 50px;
}

.box-logo .logo img {
  width: 100%;
  height: auto;
}

.box-logo .search-head-top {
  width: 65%;
  position: relative;
}

.box-logo .search-head-top .icon-search-head-top {
  position: absolute;
  right: 16px;
  top: 2px;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-logo .search-head-top .icon-search-head-top:active {
  border: 1px solid #323ebe;
}

.box-logo .search-head-top input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #d8cccc;
  outline: 0;
  border-radius: 4px;
}

.box-logo .search-head-top input[type="text"]:focus {
  border: 2px solid #323ebe;
}

.sticky {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10 !important;
}

.list-left-menu {
  line-height: 40px;
  height: 90%;
  overflow: hidden;
}

.list-left-menu li a {
  text-decoration: none;
  color: #0b0b0b;
  text-transform: uppercase;
  font-style: 700px;
  font-size: 18px;
}

.list-left-menu li a:hover {
  color: #ff0000;
}

.options-bar {
  padding: 8px;
}

.options-bar .links-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.options-bar .links-options a {
  color: #0b0b0b;
  font-size: 22px;
  margin-right: 16px;
}

.options-bar .links-options a:hover {
  color: #ff0000;
}

.options-bar .active-option {
  background-color: #a1a1a1;
}

.create-post {
  background: #323ebe;
  padding: 8px;
  border-radius: 4px;
  color: #eef0f1 !important;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px !important;
  margin-right: 16px;
}

.profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  margin-left: 16px;
}

.profile .btn-profile {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.profile .btn-profile:hover {
  color: #ff0000;
}

.profile .dropdown-profile {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(42px);
          transform: translateY(42px);
  padding: 4px;
  border: 1px solid #444;
  border-radius: 4px;
  min-width: 175px;
  line-height: 1.9;
  text-transform: capitalize;
  font-weight: 400;
  z-index: 100;
  background-color: #fff;
}

.profile .dropdown-profile .item-link-dropdown {
  font-size: 16px;
  text-align: start !important;
}

.profile .dropdown-profile .item-link-dropdown a {
  text-transform: capitalize;
  color: #0b0b0b;
  text-decoration: none;
  padding: 4px;
  font-size: 16px;
}

.profile .dropdown-profile .item-link-dropdown:hover {
  cursor: pointer;
  background-color: #bebebe;
}

.profile .dropdown-profile .signout {
  padding: 4px;
}

.hidden-dropdown-bar {
  -webkit-transform: translateY(-100%) !important;
          transform: translateY(-100%) !important;
  display: none;
}

@media (max-width: 576px) {
  .offcanvas {
    width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .offcanvas {
    width: 100% !important;
  }
}
/*# sourceMappingURL=bar.css.map */